@page
@model SafeGuard.Pages.GetLocation

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{

}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>

@if (SignInManager.IsSignedIn(User))
{
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Location.UserName" class="control-label"></label>
            <input asp-for="Location.UserName" class="form-control" value="@User.Identity.Name" readonly/>
            <span asp-validation-for="Location.UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Location.Latitude" class="control-label"></label>
            <input asp-for="Location.Latitude" id="latitude_input" class="form-control" readonly/>
            <span asp-validation-for="Location.Latitude" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Location.Longitude" class="control-label"></label>
            <input asp-for="Location.Longitude" id="longitude_input" class="form-control" readonly/>
            <span asp-validation-for="Location.Longitude" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Location.UserChoice" class="control-label"></label>
            @* <input asp-for="Location.UserChoice" class="form-control"/> *@
            <select asp-for="Location.UserChoice" class="form-control">
                <option value="5">5 minutes</option>
                <option value="15">15 minutes</option>
                <option value="30">30 minutes</option>
            </select>
            <span asp-validation-for="Location.UserChoice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Send Location" class="btn btn-primary"/>
        </div>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
$(document).ready(function(){
    let latitude=document.getElementById("latitude_input");
    let longitude=document.getElementById("longitude_input");

      if (navigator.geolocation)
        {
        navigator.geolocation.getCurrentPosition(showPosition);
        }
      else{alert="Geolocation is not supported by this browser.";}
    function showPosition(position)
      {
      latitude.value=position.coords.latitude;  
      longitude.value=position.coords.longitude;    
      }
      // console.log(latitude, longitude);
});

</script>
                                                                
}
else
{
    <p>
        Please Register or Sign in First!
    </p>
}

</body>
</html>