@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SafeGuard</h1>
<p>
    A project developed at Hack AZ 2020 <br/>
    Please see the git repo readme for more information <br/>
    <a href="https://github.com/casey-miller/HackAZ-SafeGuard" target="_blank">github.com/casey-miller/HackAZ-SafeGuard</a>
</p>
</div>
