@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SafeGuard</h1>
<p>
    This demo shows uses location tracking to send information up to a server for each client
</p>
</div>
